/* === FARBEN === */
:root {
    --pgrey: #23272a;
    --pwhite: #fbfbfb;
    --font: #0e0c0d;
    --background: #fbfbfb;
    --pturquoise: #32c8c8;
    --sturquoise: #03989e;
    --turquoise: #03989e;
    --slightgrey: #a6a6a6;
    --two: #4391B5;
    --three: #4E6AA7;
    --four: #653996;
    --five: #ae4f8b;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--font);
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 20px;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}


body.dark {
    --background: #23272a;
    --font: #fbfbfb;
    --turquoise: #32c8c8;
}

a:link, a:visited, a:active {
    color: var(--font);
    text-decoration: none;
}

/* === NAVIGATIONSLEISTE DESKTOP === */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav-button {
    display: none;
}


.header-nav {
    width: 100%;
    height: 80px;
    position: relative;

}

@media (min-width: 900px) {
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .header-nav > ul {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 30px;
        display: flex;
        justify-content: flex-end;
    }

    .header-nav > ul > li {
        display: inline-block;
        margin-right: 80px;
        font-size: 20px;
    }

    .switch {
        margin-right: 40px;
    }

    a.gradient-one {
        border-bottom: solid 3px var(--pturquoise);
    }

    a.gradient-two {
        border-bottom: solid 3px var(--two);
    }

    a.gradient-three {
        border-bottom: solid 3px var(--three);
    }

    a.gradient-four {
        border-bottom: solid 3px var(--four);
    }

    a.gradient-five {
        border-bottom: solid 3px var(--five);
        cursor: pointer;
    }

}


/* === NAVIGATIONSLEISTE MOBIL === */

@media (max-width: 900px) {
    .desktop-nav {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .switch {
        border-bottom: 3px solid var(--pturquoise);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--font);
        height: 30px;
        font-size: 1.3rem;
        margin: 20px 15px;
        cursor: pointer;
    }

    .mobile-nav-button {
        border-bottom: 3px solid var(--five);
        color: var(--font);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        font-size: 1.3rem;
        margin: 20px 15px 20px 30px;
        cursor: pointer;
    }

    .mobile-nav-dropdown {
        position: relative;
        float: right;
    }

    .mobile-nav-dropdown:hover > .mobile-nav-content {
        display: block;
    }

    .mobile-nav-content {
        position: absolute;
        right: 13px;
        top: 50px;
        display: none;
        z-index: 2;
    }

    .mobile-nav-content > ul {
        margin: 0;
        padding: 30px 0 0 0;
        float: right;
    }

    .mobile-nav-content > ul > li {
        display: block; /* oder inline-block?*/
        background-color: var(--background);
        padding: 10px 25px;
        text-align: center;
        font-size: 20px;
        line-height: 1.5em;
    }

    .mobile-nav-content > ul > li > a {
        display: inline-block;
    }

    .mobile-nav-content > ul > li > a:link {
        color: var(--font);
        text-decoration: none;
    }

    .mobile-nav-content > ul > li > a.gradient-one {
        border-bottom: solid 3px var(--pturquoise);
        color: var(--font);
    }

    .mobile-nav-content > ul > li > a.gradient-two {
        border-bottom: solid 3px var(--two);
        color: var(--font);
    }

    .mobile-nav-content > ul > li > a.gradient-three {
        border-bottom: solid 3px var(--three);
        color: var(--font);
    }

    .mobile-nav-content > ul > li > a.gradient-four {
        border-bottom: solid 3px var(--four);
        color: var(--font);
    }

    .mobile-nav-content > ul > li > a:active, .mobile-nav-content > ul > li > a:visited {
        color: var(--font);
        text-decoration: none;
    }
}

/* ====== Main Section Index=======  */

.container {
    flex-direction: column;
    display: flex;
    height: calc(100vh - 230px);
    justify-content: center;
    align-items: center;
    min-height: 600px;
    width: 100%;
    align-content: center;
}

.column {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.welcome-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.headline {
    font-size: 2.7rem;
    font-family: 'Playfair Display', serif;

}

.welcome-text > .headline {
    text-align: center;
}

.btn-link {
    color: var(--font);
    border-bottom: solid 3px var(--turquoise);

    display: inline-block;
    text-align: center;
}

.div-link {
    margin-top: 30px;
}

.btn-link:hover {
    cursor: pointer;
    text-decoration: none;
    border-bottom: solid 3px var(--five);
}

.link {
    color: var(--font);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 30px;
    display: inline-block;
    padding: 0.1em 0.2em;
    text-align: center;
    background: var(--pwhite);
    background: linear-gradient(to left, var(--pwhite) 50%, var(--pturquoise) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.link:hover {
    cursor: pointer;
    background-position: left;
    text-decoration: none;
}

.img-bendte {
    border-radius: 100%;
    height: 90%;
    width: auto;
    max-width: 90%;
    object-fit: contain;
}

.nav-container {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

.nav-list-item {
    margin: 20px 40px;
}


#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subHeadline {
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.7rem;
}

.writing {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
}

.text {
    margin-left: 3px;
    color: var(--turquoise);
    font-size: 1.3rem;
    min-width: 200px;
}

.highlight {
    color: var(--turquoise);
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

/* Kleine Endgeräte (Smartphones, 576px und größer)*/
@media all and (min-width: 576px) {
    .writing {
        flex-direction: row;
        justify-content: center;
    }

    .column {
        height: 50%;
        width: 100%;
    }
}

@media all and (min-width: 992px) {
    .container {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        width: 100%;
    }

    .column {
        width: 50%;
        height: 100%;
    }

    .text {
        font-size: 1.5rem;
    }

    .img-bendte {
        width: 70%;
        height: auto;
    }
}

/* Sehr große Endgeräte (Große Bildschirme, iMac, 1200px und größer)*/

@media all and (min-width: 1200px) {

    .container, nav {
        max-width: 1300px;
        margin: auto;
    }

}


/*============================  ===========================*/


.whitespace {
    height: 500px;
    background-color: var(--background);
    width: 100%;
}

/*================= Construction Sites ================ */
.construction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 230px);
}

.crane {
    height: 300px;
    width: 300px;
    margin: 30px;
}

.construction-text {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
}

.credits {
    font-size: 0.7rem;
    color: var(--three);
}

footer {
    height: 150px;
    width: 100%;
    background: rgb(50, 200, 200);
    background: linear-gradient(90deg, rgba(50, 200, 200, 1) 16%, rgba(93, 57, 150, 1) 59%, rgba(140, 57, 150, 1) 91%);
    display: flex;
    justify-content: space-between;
}

.footer-column {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px;
    font-size: 3px;
}

.footer-column ~ .footer-column {
    justify-content: flex-end;
}

.footer-text {
    color: var(--background);
    font-family: monospace;
    font-size: 1.3rem;
}

.footer-column > a:link, .footer-column > a:visited, .footer-column > a:active {
    color: var(--background);
    text-decoration: none;
    cursor: pointer;
}

.pixel-block {
    margin: 6px 10px;
    width: 6em;
    height: 5em;
}

.pixelized--heart {
    display: block;
    width: 1em;
    height: 1em;
    box-shadow: 1em 0em var(--background),
    2em 0em var(--background),
    4em 0em var(--background),
    5em 0em var(--background),
    0em 1em var(--background),
    1em 1em var(--background),
    2em 1em var(--background),
    3em 1em var(--background),
    4em 1em var(--background),
    5em 1em var(--background),
    6em 1em var(--background),
    0em 2em var(--background),
    1em 2em var(--background),
    2em 2em var(--background),
    3em 2em var(--background),
    4em 2em var(--background),
    5em 2em var(--background),
    6em 2em var(--background),
    1em 3em var(--background),
    2em 3em var(--background),
    3em 3em var(--background),
    4em 3em var(--background),
    5em 3em var(--background),
    2em 4em var(--background),
    3em 4em var(--background),
    4em 4em var(--background),
    3em 5em var(--background);
}

/* ================ about ============== */
body.dark > main > section > .about-text {
    font-weight: 200;
}

.about-text {
    max-width: 900px;
    width: 70%;
    margin: 60px auto;

}

p {
    line-height: 1.7em;
}

.turquoise-accent {
    transform: translate(-20px, 0);
}

.background-headline {
    background-color: var(--pturquoise);
    height: 1.2em;
    width: 300px;
    max-width: 70%;
}

.text-headline {
    transform: translate(20px, 20px);
}

/* ====== COMIC PART ABOUT ======   */
@media all and (min-width: 700px) {

    .comic-column {
        flex-direction: row;
    }

    .bubble {
        transform: translate(100px, 0);
    }

    .bubble-bottom-right:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 12px solid transparent;
        border-right: 24px solid var(--font);
        border-top: 12px solid var(--font);
        border-bottom: 20px solid transparent;
        right: 32px;
        bottom: -24px;
    }
}

@media all and (max-width: 700px) {

    .comic-column {
        flex-direction: column;
    }

    .bubble-bottom-right:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 24px solid var(--font);
        border-right: 12px solid transparent;
        border-top: 12px solid var(--font);
        border-bottom: 20px solid transparent;
        right: 32px;
        bottom: -24px;
    }
}

.comic-container {
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
    margin-top: 100px;
}

.comic-column {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.img-comic {
    margin-right: 30px;
    float: right;
    transform: translateY(20px);
    min-width: 300px;
    width: 30%;
}

.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 24px;
    width: 300px;
    background: var(--font);
    border-radius: 40px;
    padding: 15px;
    text-align: center;
    color: var(--background);
    align-self: flex-start;
    font-family: monospace;
}

/*======= contact =============*/

body.dark > main > .contact-container > .contact-row > .icon > img {
    filter: invert();
    /* width: 50%;
    height: auto; */
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 80%;
    align-self: flex-start;
    align-items: center;
    margin: auto;
}

.icon {
    display: flex;
    justify-content: center;
    width: 210px;
}

.text-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* max-width: 69%; */
    margin-bottom: 50px;
}

/* Kleine Endgeräte (Smartphones, 576px und größer)*/
@media all and (min-width: 576px) {

}

/* Mittlere Endgeräte (Tablets, 768px und größer)*/

@media all and (min-width: 768px) {

}

/* Große Endgeräte (Laptops, Bildschirme, 992px und größer)*/

@media all and (min-width: 992px) {
    .contact-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 100%;
        margin: 0;
    }

    .contact-row > .text {
        max-width: 69%;
        text-align: left;
        margin-bottom: 40px;
    }

    .contact-container {
        max-width: 1000px;
        margin: 60px auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .text-column {
        margin-left: 60px;
        margin-bottom: 10px;
    }

}

/* Sehr große Endgeräte (Große Bildschirme, iMac, 1200px und größer)*/

@media all and (min-width: 1200px) {


}

.privacy-text {
    margin: 50px;
    font-size: 1rem;
}